# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage

# Built files
bin

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
